body { background: #f355ff; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 35px; display: flex; }
.block-cluster-0 { color: #7c06b2; font-size: 17px; margin-bottom: 5px; }
.block-logger-1 { color: #f17f07; font-size: 19px; margin-bottom: 5px; }
.block-session-2 { color: #3757b0; font-size: 19px; margin-bottom: 5px; }
.block-payment-3 { color: #e283bb; font-size: 18px; margin-bottom: 5px; }
.block-session-4 { color: #60607e; font-size: 15px; margin-bottom: 5px; }